        ../../../.cups/
        ../../../.dropbox/
        ../../../.httrack.ini
        ../../../.npm/
        ../../../.vscode/
        ../../../.zprofile
        ../../../.zsh_history
        ../../../.zsh_sessions/
        ../../../Applications/
        ../../.localized
        ../../Advanced practice/
        ../../Bootstrap netninja tut/
        ../../Desktop/
        ../../Dissertation/
        ../../HP Holiday Planner website.png
        ../../MY SCRIMBA NOTES/
        ../../Ps5 twitch/
        ../../Screenshot 2024-12-07 at 8.12.15 PM.png
        ../../Screenshot 2024-12-07 at 8.12.30 PM.png
        ../../Screenshot 2024-12-15 at 1.06.44 AM.png
        ../../Screenshot 2024-12-26 at 8.31.21 PM.png
        ../../Tech 2/
        ../../Tech Certificates/
        ../
        ../../UI:UX Coursera notes/
        ../../Untitled 2.rtf
        ../../Untitled.rtf
        ../../Variable Practice Meta Coursera .js
        ../../Yussuf-Bello-CV.docx
        ../../calculator notes.rtf
        ../../desk folder/
        ../../primevest/
        ../../react/Holiday-Planner/
        ../../react/gossip-blog/
        ../../react/prac 2/
        ../../stickies tech 1111.txt
        ../../../Documents/
        ../../../Downloads/
        ../../../Dropbox/
        ../../../Library/
        ../../../Movies/
        ../../../Music/
        ../../../OneDrive - Northumbria University - Production Azure AD
        ../../../Pictures/
        ../../../Public/
        ../../../Sites/
        ../../../react-app/